<%- include ../partials/header-navbar.ejs %>

<div class="main-content">
	<% for (project in projects) { %>
	<a class="project" href="<%= projects[project]["link"] %>">
		<p class="link"><%= project %></p>
		<p><%= projects[project]["short"] %></p>
	</a>
	<% } %>
</div>

<%- include ../partials/footer.ejs %>